<footer class="footer-full">
  <div class="row pt-4 px-4">

  <div class="col-4 d-none d-md-block">
    <h5>Marci Marketing Digital</h5>
    <p>Iluminamos el crecimiento de inmobiliarias con estrategias precisas y resultados medibles.</p>
  </div>

  <div class="col-6 col-md-4">
    <h5 class="fw-bold mb-3">Servicios</h5>
    <ul class="list-unstyled ">
      <li class="my-2">Paid Media</li>
      <li class="my-2">Análisis de datos</li>
      <li class="my-2">Web</li>
      <li class="my-2">Branding integral</li>
  </ul>
  </div>

  <div class="col-6 col-md-4">
    <h5 class="fw-bold mb-3">Contacto</h5>
    <ul class="list-unstyled">
      <li class="my-2">
        <img src="assets/img/phone.svg" class="img-square" alt="">
       {{phone}}
      </li>
      <li class="my-2">
        <img src="assets/img/map.svg" class="img-square" alt="">
        CABA, Argentina.
      </li>
      <li class="my-2">
        <img src="assets/img/linkedin.svg" class="img-square" alt="">
        <a href="https://www.linkedin.com/company/marci-marketing/">Linkedin</a>
      </li>
  </ul>
  </div>
  </div>
    <div class="col-12 text-center py-3">
    © 2025 Marci Marketing Digital
  </div>
</footer>
