<nav class="navbar navbar-expand-md navbar-light bg-light navshadow">
  <img src="assets/logo.png" class="img-fluid img" alt="">
  
  <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
    <h1 class="head-title">Marci </h1>
    <div class="p-4">
        <ul class="navbar-nav gap-5">
        <li class="nav-item active">
        <a class="nav-link" href="#valores">Valores</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#servicios">Servicios</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#workflow">Workflow</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-main" type="button">
            <a 
              class="link-wp" 
              href="https://wa.me/{{phone}}?text=Hola,%20quiero%20más%20info" 
              target="_blank">
              Contacto
            </a>
          </button>
        </li>
        </ul>
    </div>
  </div>
</nav>