.footer{
    height: 50px;
    background-color: var(--dark-green);
}

@media (max-width: 1000px) {
    .desktop-only {
        display: none !important;
    }
}

@media (max-width: 1000px) {
    .mobile {
        display: block !important;
    }
    body{
        background-color: var(blue);
    }
}
@media (min-width: 1000px) {
    .mobile {
        display: none !important;
    }
}
.whatsapp-float {
  position: fixed;
  width: 5.5rem;
  height: 5.5rem;
  bottom: 3rem;
  right: 3rem;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  z-index: 999;
}