<section id="servicios" class="bg-negro contenedor py-5">
    <div class="container">
        <div class="text-center mb-4">
        <h2>Nuestros servicios</h2>
        <p class="fst-italic">
            Soluciones integrales de marketing diseñadas específicamente para inmobiliarias que quieren crecer.
        </p>
    </div>

    <div class="row g-4 d-flex justify-content-center">
        <div class="row justify-content-center mt-4">
            <!-- Publicidad paga -->
            <div class="col-8 col-lg-3">
                <div class="p-4 card-servicio h-100">
                    <div class="wrapper">
                        <img src="assets/img/paidmedia.jpg" class="img-fluid mb-3" alt="">
                    </div>
                    <h4 class="text-center mb-2">Publicidad paga</h4>
                    <p class="text-center">
                        Gestiono y optimizo publicidad paga para generar consultas reales,
                        aumentar visibilidad y convertir inversión en crecimiento medible
                        para inmobiliarias.
                    </p>
                </div>
            </div>

            <!-- Análisis de datos -->
            <div class="col-8 col-lg-3">
                <div class="p-4 card-servicio h-100">
                <div class="wrapper">
                    <img src="assets/img/analisis.jpg" class="img-fluid mb-3" alt="">
                </div>
                    <h4 class="text-center mb-2">Análisis de datos</h4>
                    <p class="text-center">
                        Instalo sistemas de monitoreo web y analizo datos para medir cada acción,
                        optimizar resultados y tomar decisiones precisas que impulsen el crecimiento.
                    </p>
                </div>
            </div>

            <!-- Diseño web -->
            <div class="col-8 col-lg-3">
                <div class="p-4 card-servicio h-100">
                <div class="wrapper">
                    <img src="assets/img/web.jpg" class="img-fluid mb-3" alt="">
                </div>
                    <h4 class="text-center mb-2">Diseño web</h4>
                    <p class="text-center">
                        Diseño y desarrollo sitios web claros, rápidos y orientados a convertir,
                        creando presencia digital profesional y lista para captar clientes.
                    </p>
                </div>
            </div>

            <!-- Branding integral -->
            <div class="col-8 col-lg-3">
                <div class="p-4 card-servicio h-100">
                <div class="wrapper">
                    <img src="assets/img/branding.jpg" class="img-fluid mb-3" alt="">
                </div>
                    <h4 class="text-center mb-2">Branding integral</h4>
                    <p class="text-center">
                        Creo branding claro y coherente que potencia la identidad de cada inmobiliaria,
                        transmitiendo profesionalismo, confianza y un mensaje que realmente conecta.
                    </p>
                </div>
            </div>


        </div>

    </div>

    <div class="text-center mt-4">
        <button class="btn btn-main btn-big px-4 mt-4">
            <a 
                class="link-wp" 
                href="https://wa.me/{{phone}}?text=Hola,%20quiero%20más%20info" 
                target="_blank">
            Quiero saber más
            </a>
        </button>
    </div>

    </div>
  
</section>


